body {
    background-color: #f0eff2;
}

.container {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    padding: 0em 0.5em;
    border-left: solid 5px #000;
    line-height: 30px;
    font-size: 1.5em;
    margin-bottom: 35px;
}

.container__content {
    background: #fff;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #f0eff2;
}

.row__name {
    width: 40%;
    padding: 20px 40px;
    color: #969696;
}

.row__data {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.row__data--left {
    display: flex;
    justify-content: left;
    font-weight: bold;
    padding: 10px;
}

.row__data--right {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}

.row__data--name {
    padding: 10px;
}

.row__data--textarea {
    width: 100%;
    height: 50px;
}

.row__data--time {
    position: relative;
    padding: 2px 15px;
    border-radius: 5px;
    border: solid 1px #ececec;
    font-weight: bold;
    letter-spacing: 2px;
}

.row__data--time::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.container__button {
    padding: 20px 0px;
    display: flex;
    justify-content: right;
}

.container__button button {
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
    padding: 5px 30px;
    font-size: 1em;
}

.error-text {
    margin: 6px 0 0;
    color: #d00;
    font-size: 14px;
}

.container__button--red {
    color: red;
}

.container__applied {
    border-radius: 5px;
    border: none;
    background: #696969;
    color: #fff;
    padding: 5px;
    font-size: 1em;
    margin-top: 30px;
    text-align: center;
    width: 100px;
    margin-left: auto;
}